{
  // Extend existing configuration
  // from ESlint and eslint-plugin-react defaults.
  "extends": [
    "eslint:recommended", "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  // Enable ES6 support. If you want to use custom Babel
  // features, you will need to enable a custom parser
  // as described in a section below.
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  // Enable custom plugin known as eslint-plugin-react
  "plugins": [
    "react",
    "jasmine"
  ],
  "rules": {
    // Disable `no-console` rule
    "no-console": 1,
    // Give a warning if identifiers contain underscores
    "no-underscore-dangle": 1
  }
}