a {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.btn-round {
    border-radius: 24px;
}

body {
    color: #212121;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}